.button {
    color: var(--ifm-button-color);
    background-color: var(--ifm-button-background-color);
    border: var(--ifm-button-border-width) solid var(--ifm-button-border-color);
    border-radius: var(--ifm-button-border-radius);
    cursor: pointer;
    font-size: calc(.875rem*var(--ifm-button-size-multiplier));
    font-weight: var(--ifm-button-font-weight);
    line-height: 1.5;
    padding: calc(var(--ifm-button-padding-vertical)*var(--ifm-button-size-multiplier)) calc(var(--ifm-button-padding-horizontal)*var(--ifm-button-size-multiplier));
    text-align: center;
    transition-duration: var(--ifm-button-transition-duration);
    transition-property: color, background, border-color;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-decoration: var(--ifm-link-decoration);
}

:where(.button--primary):not(.button--outline):hover {
    --ifm-button-background-color: var(--ifm-color-primary-dark);
    --ifm-button-border-color: var(--ifm-color-primary-dark);
}

.button,
.button:hover {
    color: var(--ifm-button-color);
}